@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Source+Code+Pro&display=swap');

:root {
  --dark-blue: rgb(0, 0, 44);
  --code-blue:rgb(151, 151, 255);
  --aqua: rgb(0, 232, 158);
  --code-orange:rgb(191, 137, 0);
  --blue: rgb(4, 4, 123);
  --white: rgb(241, 255, 250);
  --page-border: 20vw;
}

.orange {
  color: var(--code-orange);
}

/** {
  scroll-behavior: smooth;
}*/

body {
  background-color: var(--dark-blue);
  color: var(--white);
  margin: 0;
  padding: 0;
}

body * {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  height: 52px;
  padding: 5px 20px 5px 0;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--dark-blue);
}

nav ul{
  float: right;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

nav li {
  margin: 0 20px;
  padding: 10px;
}

.nav-title {
  font-family: 'Manrope', sans-serif;
}

.nav-text {
  font-family: 'Source Code Pro', monospace;
  color: var(--code-blue);
}


html{
  scroll-snap-type: y mandatory;
}

.section-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 62px;
}

.section-width {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.snap {
  scroll-snap-align: start;
}

#header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

header h1 {
  padding-left: 3vw;
  line-height: 1;
  font-size: calc(18px + 4vw);
}

header p {
  font-size: calc(12px + 1vw);
  color: var(--code-orange);
}

.header-text {
  font-size: calc(12px + 2vw);
  font-family: 'Source Code Pro', monospace;
  color: var(--code-blue);
}

#header-list {
  display: flex;
  justify-content: left;
  padding: 5px 0;
}

#header-list ul {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  list-style-type: none;
}

#header-list li {
  margin: 0 20px 0 0;
  padding: 10px 10px 10px 0;
  font-size: calc(12px + 1vw);
}

footer { 
  padding: 0 var(--page-border);
}

#logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#logo-container * {
  color: var(--blue);
}

#logo-container > div {
  margin: 20px;
}

#logo-container div {
  padding: 0 10px;
  text-align: center;
}

.tech-logo {
  height: 100px;
}

.blue-bg {
  background-color: var(--dark-blue);
  color: var(--white);
}

.white-bg {
  background-color: var(--white);
  color: var(--blue);
}

.white-btn {
  background-color: var(--white);
  color: var(--blue);
  border-radius: 5px;
}

#portfolio-container {
  display: flex;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-size: calc(20px + 0.5vw);
}

p {
  font-size: calc(12px + 0.5vw);
}

a {
  color: var(--aqua);
  text-decoration: none;
}