@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Source+Code+Pro&display=swap');

:root {
  --background: rgb(30, 30, 30);
  --gold: #FFD700;
  --code-blue:rgb(151, 151, 255);
  --code-light-blue:rgb(169, 169, 255);
  --aqua: rgb(0, 232, 158);
  --code-orange:rgb(191, 137, 0);
  --blue: rgb(4, 4, 123);
  --white: rgb(241, 255, 250);
  --page-border: 20vw;
}

.orange {
  color: var(--code-orange);
}

.gold {
  color: var(--gold);
}

.full-width {
  width: 100%;
  max-width: 100%;
}

* {
  scroll-behavior: smooth;
}

body {
  /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  background-image: linear-gradient(to right, #17123d, #3d387e, #323254);
  color: var(--white);
  margin: 0;
  padding: 0;
}

body * {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

td {
  vertical-align:bottom
}

.col1 {
  font-family: 'Source Code Pro', monospace;
  padding-right: 10px;
  color: rgb(155, 155, 155);
}

#sticky-nav {
  display: block;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: var(--background);
  z-index: 99;
}

#sticky-nav > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#sticky-nav > nav:first-child {
  padding-left: 30px;
}

nav a {
  color: var(--white) !important;
}

nav ul{
  display: flex;
  position: relative;
  right: 0;
  justify-content: flex-end;
  list-style-type: none;
  margin: 5px 0;
}

nav li {
  margin: 0 20px;
  padding: 10px;
}

.nav-title {
  font-family: 'Manrope', sans-serif;
}

.nav-text {
  font-family: 'Source Code Pro', monospace;
  color: var(--code-blue);
}

footer { 
  background-color: var(--background);
  padding: 0 var(--page-border);
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.section-width {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.snap {
  scroll-snap-align: start;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 5%;
  background-color: var(--background);
  box-shadow:
    30px 40px 20px 2px rgb(0, 0, 0);
}

header {
  position:relative;
  top:-80px;
}

header h1 {
  padding-left: 3vw;
  line-height: 1;
  font-size: calc(18px + 3.2vw);
}

.header-blurb {
  font-size: calc(12px + 0.5vw);
  color: var(--code-orange);
}

.heading-text {
  font-size: calc(12px + 0.8vw);
  font-family: 'Source Code Pro', monospace;
  color: var(--code-blue);
}

.header-inner-code {
  font-size: calc(10px + 0.6vw);
  font-family: 'Source Code Pro', monospace;
  color: var(--code-light-blue);
}

#header-list {
  font-size: calc(12px + 1vw);
}

#logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

#logo-container * {
  color: var(--blue);
}

#logo-container > div {
  margin: 20px;
}

#logo-container div {
  padding: 0 10px;
  text-align: center;
}

.tech-logo {
  height: 100px;
}

.blue-bg {
  background-color: var(--background);
  color: var(--white);
}

.white-bg {
  background-color: var(--white);
  color: var(--blue);
}

.white-btn {
  background-color: var(--white);
  color: var(--blue);
  border-radius: 5px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.box p:last-of-type {
  margin-bottom: 10px;
}

p {
  font-size: calc(12px + 0.5vw);
}

a {
  color: var(--aqua);
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  #sticky-nav {
    display: none;
  }
}