@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Source+Code+Pro&display=swap');

:root {
	--body-bg: rgb(103, 0, 238);
	--box-bg: rgb(30, 30, 30);
	--light-gray: rgb(159, 159, 159);
	--menu-bg: rgb(53, 53, 53);
	--gold: #FFD700;
	--code-blue: rgb(151, 151, 255);
	--code-light-blue: rgb(169, 169, 255);
	--aqua: rgb(0, 232, 158);
	--code-orange: rgb(255, 183, 0);
	--blue: rgb(4, 4, 123);
	--white: rgb(241, 255, 250);
	--page-border: 20vw;
}

/* --------------------------------------------------- Base elements */

* {
	scroll-behavior: smooth;
}


body {
	background-image: linear-gradient(to right, #17123d, #3d387e, #323254);
	background-size: 100vw 1000vh;
	color: var(--white);
	margin: 0;
	padding: 0;
	max-width: 100vw;
	overflow-x: hidden;
}

body * {
	font-family: 'Manrope', sans-serif;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 20px;
}

h3 {
	font-size: 18px;
	margin-bottom: 10px;
}

p {
	font-size: 16px;
	margin-bottom: 30px;
}

button {
	font-size: 16px;
}

a {
	font-size: 16px;
	color: var(--aqua);
	text-decoration: none;
}

hr {
	margin: 10px 0;
	border-color: rgb(112, 112, 112);
}

td {
	vertical-align: bottom
}

/* --------------------------------------------------- Colour classes */

.orange {
	color: var(--code-orange) !important;
}

.gold {
	color: var(--gold) !important;
}

.light-gray {
	color: var(--light-gray) !important;
}

#site-wrapper {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	max-width: 100%;
}

.full-width {
	width: 100%;
	max-width: 100%;
}

/* --------------------------------------------------- Image Preview */

#image-preview-container {
	display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 96;
	z-index: 99 !important;
}

#image-preview-container > div {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(18, 29, 29, 0.8);
	z-index: 99 !important;
}

#image-preview-container > div > div {
	display: flex;
	flex-direction: column;
	position: fixed;
	max-width: 75vw;
	max-height: 75vh;
	z-index: 99 !important;
}

#image-preview-container img {
	border: var(--gold) solid 8px;
	max-width: 75vw;
	max-height: 75vh;
	z-index: 99 !important;
}

#image-preview-container button {
	width: fit-content;
	margin: 0 auto;
	margin-top: 10px;
	padding: 3px 10px;
	border: 2px solid var(--gold);
	color: var(--gold);
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0);
}

#image-preview-container button:hover {
	background-color: var(--gold);
	color: #17123d;
}

/* --------------------------------------------------- Section styling */

.section-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: calc(20vh - 90px);
}

.section-container>div {
	margin-top: 57px;
}

.section-width {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding: 30px 40px;
	background-color: var(--box-bg);
	box-shadow:
		30px 40px 20px 2px rgba(0, 0, 0, 0.6);
}

.box p:last-of-type {
	margin-bottom: 10px;
}

.col1 {
	font-family: 'Source Code Pro', monospace;
	padding-right: 10px;
	color: rgb(155, 155, 155);
}


/* --------------------------------------------------- Header box */

#header h1 {
	font-size: 50px;
}

#header {
	margin-top: 10vh;
}

header h1 {
	margin-top: 20px;
	padding-left: 3vw;
	line-height: 1;
}

.header-blurb {
	color: var(--code-orange);
	font-size: 20px;
}

.heading-text {
	font-family: 'Source Code Pro', monospace;
	font-size: 30px;
	color: var(--code-blue);
	margin-bottom: 0;
}

.header-inner-code {
	font-family: 'Source Code Pro', monospace;
	color: var(--code-light-blue);
}

#header-list {
	font-size: 24px;
}

/* --------------------------------------------------- Navigation */

#sticky-nav {
	display: block;
}

#mobile-nav {
	display: none;
	height: 52px;
}

#mobile-nav > div {
	height: 100%;
}

#sticky-nav,
#mobile-nav {
	position: fixed;
	top: 0;
	background-color: var(--box-bg);
	z-index: 70;
}

#sticky-nav > nav,
#mobile-nav > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav a,
#mobile-nav a,
#mobile-dropdown a {
	color: var(--white);
}

nav a:hover,
#mobile-nav a:hover,
#mobile-dropdown a {
	color: var(--aqua);
}

nav a:active,
#mobile-nav a:active {
	color: var(--white);
}

nav ul {
	display: flex;
	position: relative;
	right: 0;
	justify-content: flex-end;
	list-style-type: none;
	margin: 5px 0;
	align-items: center;
}

nav li,
#mobile-dropdown li {
	margin: 0 20px;
	padding: 10px;
}

.logo {
	display: flex;
	width: 236px;
	flex-direction: row;
    align-content: center;
	padding-left: 30px;
	white-space: nowrap;
}

.nav-title {
	font-family: 'Manrope', sans-serif;
}

.nav-text {
	font-family: 'Source Code Pro', monospace;
	color: var(--code-blue);
}

#mobile-dropdown {
	display: none;
}

#mobile-dropdown li {
	list-style: none;
}

#mobile-dropdown a {
	color: var(--white);
}

#mobile-dropdown a:hover {
	color: var(--aqua);
}

#mobile-dropdown a:active {
	color: var(--white);
}

.open-dropdown {
	display: block !important;
	position: fixed;
	top: 52px;
	left: 0;
	width: 100vw;
	background-color: var(--menu-bg);
	padding-bottom: 20px;
	color: var(--white);
	z-index: 80 !important;
}

#toggle-dropdown {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row-reverse;
    align-items: center;
	padding-right: 30px;
}

/* --------------------------------------------------- Tech section */

.animated-progress {
	width: 90%;
	height: 30px;
	border-radius: 10px;
	margin: 20px 20px 10px 0px;
	overflow: hidden;
	position: relative;
	background-color: rgba(255, 255, 255, 0.05);;

  }
  
  .animated-progress span {
	height: 100%;
	display: block;
	border-radius: 10px;
	width: 0;
	color: rgb(255, 255, 255);
	line-height: 30px;
	position: absolute;
	padding-right: 5px;
	padding-left: 10px;
	font-weight: 600;

  }
  
  .progress-orange span {
	background-color: rgb(232,83,37);
	
  }
  .progress-blue span {
	background-color: rgb(35,75,228);
		
  }
  .progress-purple span {
	background-color: rgb(125,19,248);
  }
  .progress-yellow span {
	background-color: rgb(244,220,28);
	color: rgb(22, 22, 22);
  }

  .progress-jquery span {
	background-color: rgb(11,107,172);
  }

  .progress-python span {
	background-color: rgb(251, 223, 89);
	color: rgb(22, 22, 22);
  }

  .progress-lua span {
	background-color: #040483;
  }

  .progress-vba span {
	background-color: #247344;
  }

  .progress-mysql span {
	background-color: #2596be;
	color: rgb(22, 22, 22);
  }

/* --------------------------------------------------- Certification section */

#certifications-container table {
	border-collapse:separate; 
	border-spacing: 10px 10px;

}

#certifications-container td {
	vertical-align: top;
}

#certifications-container tr {
	margin-bottom: 10px;
}

.btn-cert {
	padding: 0 7px;
	background-color: rgba(0, 0, 0, 0);
	color: var(--aqua);
	border: 1px solid var(--aqua)
}

.btn-cert:hover {
	background-color: rgba(0, 0, 0, 0);
	background-color: var(--aqua); 
	color: var(--box-bg);
	border: 1px solid var(--aqua)
}

/* --------------------------------------------------- Project section */

#project-container {
	display: flex;
	flex-direction: column;
}

#project-container > div {
	display: flex;
	flex-direction: row;
}

#project-container > div > div {
	width: 50%;
}

#project-container > div > div > div {
	padding-right: 15px;
}

#project-container td {
	color: var(--code-orange);
}

#project-container tr {
	width: 100%;
	display: flex;
	flex-wrap: wrap; 
}

#project-container td:first-of-type {
	padding-left: 0;
}

#project-container td:last-of-type {
	padding-right: 0;
}

#project-container td:nth-child(even) {
	color: white;
	padding: 0 5px;
}

.flex-col-apart {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
}

/* --------------------------------------------------- Project section buttons */

.project-btns {
	display: flex;
}

.project-btns a {
	margin-bottom: 10px;
	margin-right: 10px;
}

.project-btns div {
	background-color: var(--box-bg);
	color: var(--aqua);
	border: 1px solid var(--aqua);
	padding: 5px 10px;
}

.project-btns div:hover {
	background-color: var(--aqua);
	color: var(--box-bg);
	border-color: var(--aqua);
}

.project-btns div:active {
	color: var(--white);
}

/* --------------------------------------------------- Resume button */

#mobile-dropdown .resume-btn {
	background-color: rgba(0, 0, 0, 0);
	min-width: fit-content;
	max-width: 150px;
	width: 100%;
}

.resume-btn {
	align-self: center;
	padding: 3px 10px;
	background-color: var(--box-bg);
	border: 1px solid var(--aqua);
}

.resume-btn a,
#mobile-dropdown .resume-btn a {
	color: var(--aqua);
}

.resume-btn:hover,
#mobile-dropdown .resume-btn:hover {
	background-color: var(--aqua);
	color: var(--box-bg) !important;
}

.resume-btn:hover a {
	color: var(--box-bg) !important;
}

.resume-btn:active,
#mobile-dropdown .resume-btn:active {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid var(--aqua) !important;
	color: var(--aqua) !important;
}

.resume-btn:active a {
	color: var(--aqua) !important;
}

/* --------------------------------------------------- Left side Icons */

#left-icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 70;
}

#left-icons i {
	font-size: 20px;
	color: var(--white);
	padding: 5px 0;
}

#left-icons i:hover {
	color: var(--aqua);
}

#left-icons i:active {
	color: var(--white);
}

/* --------------------------------------------------- Reveal animation */

.reveal {
	position: relative;
	transform: translateX(150px);
	opacity: 0;
	transition: 2s all ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

/* --------------------------------------------------- Footer */

footer {
	background-color: var(--box-bg);
	padding: 0 var(--page-border);
	text-align: center;
	padding: 10px 0;
}

footer * {
	margin: 0;
}

/* --------------------------------------------------- Media Queries */

@media only screen and (max-width: 1080px) {
	#project-container > div {
		flex-direction: column;
	}

	#project-container > div > div {
		width: 100%;
	}

	#project-container img {
		width: 100% !important;
	}

}

@media only screen and (max-width: 1050px) {

	#sticky-nav,
	#left-icons {
		display: none;
	}

	#mobile-nav {
		display: block;
	}
}

@media only screen and (max-width: 720px) {
	#certifications-container tr {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#certifications-container tr > td:first-of-type {
		margin-top: 4px;
	}

	#certifications-container tr > td:nth-of-type(2) {
		margin-top: 4px;
		margin-right:auto;
		margin-left: 10px;
	}

	#certifications-container tr > td:nth-of-type(3) {
		width: 100%;
		margin-left: 24px;
	}

	#certifications-container tr > td:nth-of-type(4) {
		width: 100%;
		margin-top: 4px;
		margin-bottom: 8px;
		margin-left: 24px;

	}

	@media only screen and (max-width: 600px) {

		#header h1 {
			font-size: 40px;
		}

		.header-blurb {
			font-size: 20px;
		}

		.heading-text {
			font-size: 24px;
		}

		#header-list {
			font-size: 20px;
		}

		.box {
			padding: 20px;
		}
	}

	@media only screen and (max-width: 450px) {

		#header h1 {
			font-size: 30px;
		}

		.header-blurb {
			font-size: 16px;
		}

		.heading-text {
			font-size: 18px;
		}

		#header-list {
			font-size: 16px;
		}
	}

	@media only screen and (max-width: 350px) {

		.heading-text {
			font-size: 16px;
		}
	}
}